# Example definitions for Crittercism data in Graphite's storage-schemas.conf -
# modify to suit your needs.
#
# Probably should put this near the top of the file, before any "default" definitions.

[app_live]
pattern = ^app\..*\.live\.
retentions = 1m:30d, 15m:1y, 1h:5y, 1d:10y

[app_perf]
pattern = ^app\..*\.services\.
retentions = 15m:90d, 1d:5y

[app_daily]
pattern = ^app\.
retentions = 1d:5y
